[submodule "openwrt"]
	path = openwrt
	url = https://github.com/openwrt/openwrt.git
	branch = openwrt-23.05
[submodule "feeds/chirpstack-openwrt-feed"]
	path = feeds/chirpstack-openwrt-feed
	url = git@github.com:xoseperez/chirpstack-openwrt-feed.git
